In [1]:
import pandas as pd

In [2]:
# Insitu Source
insitu = pd.read_csv(delimiter="\t", filepath_or_buffer=".\data\HH_insitu_chl_timeseries_2016.txt")

In [3]:
insitu.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SDATE</th>
      <th>STATION</th>
      <th>IDEPTH</th>
      <th>Chl_a_ugl</th>
      <th>Comment_txt</th>
      <th>sampling_method</th>
      <th>year</th>
      <th>week</th>
      <th>source</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1/22/2003</td>
      <td>B1</td>
      <td>0-20</td>
      <td>0.21</td>
      <td>NaN</td>
      <td>hose</td>
      <td>2003</td>
      <td>4</td>
      <td>Helena H�glander</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2/18/2003</td>
      <td>B1</td>
      <td>0-20</td>
      <td>0.28</td>
      <td>NaN</td>
      <td>hose</td>
      <td>2003</td>
      <td>8</td>
      <td>Helena H�glander</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3/10/2003</td>
      <td>B1</td>
      <td>0-20</td>
      <td>1.47</td>
      <td>NaN</td>
      <td>hose</td>
      <td>2003</td>
      <td>11</td>
      <td>Helena H�glander</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3/25/2003</td>
      <td>B1</td>
      <td>0-20</td>
      <td>6.37</td>
      <td>NaN</td>
      <td>hose</td>
      <td>2003</td>
      <td>13</td>
      <td>Helena H�glander</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4/1/2003</td>
      <td>B1</td>
      <td>0-20</td>
      <td>4.22</td>
      <td>NaN</td>
      <td>hose</td>
      <td>2003</td>
      <td>14</td>
      <td>Helena H�glander</td>
    </tr>
  </tbody>
</table>
</div>